registry=http://artifactory.santanderbr.corp/artifactory/api/npm/npm-all
phantomjs_cdnurl=http://artifactory.santanderbr.corp/artifactory/raw-downloads
puppeteer_download_host=http://artifactory.santanderbr.corp/artifactory/github-puppeteer/
sass_binary_site=http://artifactory.santanderbr.corp/artifactory/github-sass/download
electron_mirror=http://artifactory.santanderbr.corp/artifactory/raw-downloads/electron
electron_custom_dir=""
electron_custom_filename="electron-v1.8.7-linux-x64.zip"
save-exact=true