<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <add key="ArtifactoryV3Remote" value="http://artifactory.santanderbr.corp/artifactory/api/nuget/v3/nuget-all" protocolVersion="3" />
    </packageSources>
</configuration>